.art-table{
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
}
.art-table .ar-table{
    -webkit-flex: 1 1;
    flex: 1 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto; 
    /* might do some to this last line */
}
.art-table .ar-thead{
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.art-table .ar-tr{
    text-align: center;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-flex;
    display: inline-flex;
    user-select: none;

}
.art-table .ar-resizable-header{
    overflow: visible;
}
.art-table .ar-resizable-header:last-child{
    overflow: hidden;
    border-right: 0
}
.art-table .pointed{
    cursor: pointer;
    
}
.art-table .ar-th, .art-table .ar-td{
    padding: 5px 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.05);
    transition: box-shadow .3s cubic-bezier(.175,.885,.32,1.275);
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-flex: 1 0;
    flex: 1 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    transition: .3s ease;
    transition-property: width,min-width,padding,opacity;
    text-align: center;
}
.ar-table .ar-th .rt-th-data{
    overflow: wrap;
    text-overflow: ellipsis;
}
.ar-table .ar-resizer{
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10;
    /* background: pink */
}
.art-table .ar-thead .ar-th-data{
    overflow: hidden;
    text-overflow: ellipsis
}
.art-table .ar-tbody{
    -webkit-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}
.ar-table .ar-tbody-group{
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    
}
.ar-th-independent{
    justify-content:center;
    background: gray;
    color: white
}
.ar-th-group{
    background: lightgray;
}
.art-table .desc{
    box-shadow:inset 0 -3px 0 0 rgba(0,0,0,0.6)
}
.art-table .asc{
    box-shadow:inset 0 3px 0 0 rgba(0,0,0,0.6)
}
